/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
  /* border: 2px solid black; */
  margin-left: 4px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  z-index: 1;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 5px;
  background-color: inherit;
  font: inherit;
  /* Important for vertical align on mobile phones */
  /* margin: 0; */
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
/* .dropdown:hover .dropbtn {
 
} */

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* margin-top: 10px; */
}

/* Mega Menu header, if needed */
.dropdown-content .header {

  padding: 16px;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #ccc;
  /* height: 250px; */
  height: 450px;
  border-right: 5px solid black;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 12px;
}

/* Add a background color on hover */
.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.navbar button {
  border: px solid white;
}

.row {
  border: 2px solid black;
  display: flex;
}


.main-nav {
  display: flex;
  margin-top: 10px;
}

.main-nav a {
  font-size: 13px;
}





.vs {
  margin-left: 590px;
  margin-top: 3px;

}

.vs a {
  text-decoration: none;
  color: black;
}

.nx {
  border: 2px solid black;
  padding: 5px;
}

.main {
  background-image: url(images/1.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.main1 {
  background-image: url(images/2.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main2 {
  background-image: url(images/3.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main3 {
  background-image: url(images/4.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.na {
  text-align: center;
  padding-top: 550px;
}

.na button {
  padding: 7px;
  border-radius: 3px;
}

.h21 {
  color: white;
}


.main4 {
  display: flex;
}

.main4 p {
  padding-left: 9px;
}

.main4 a {
  text-decoration: none;
  color: black;
  padding-left: 5px;
}

.link1 {
  border: 1px solid black;
  width: 300px;
}

.b {
  text-align: center;
}

body{
  overflow-x: hidden;
}

@media screen and (max-width:576px) {
  .main4 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  .main-nav{
    display: none;
  }
  .vs{
    display:none;
  }
  .na button{
    position: relative;
    top: -90px;
  }
}